@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f2f2f2a1;
}

ul{
    display: flex;
    gap: 20px;
}

.navTitle {
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-size: 36px;
    color: #000000;
    text-decoration: none;

}